/* =========================
   GLOBAL RESET
========================= */
canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
  font-family: monospace;
}

/* IMPORTANT : stabilise p5 canvas */

/* =========================
   UI FILTRES
========================= */

#ui {
  position: fixed;
  top: 20px;
  left: 20px;

  z-index: 50;

  background: rgba(255,255,255,0.95);
  padding: 10px 12px;
  border-radius: 8px;

  font-size: 14px;
  border: 1px solid #000;
}

#ui label {
  display: block;
  margin-bottom: 6px;
  cursor: pointer;
}

/* =========================
   INTRO FANZINE
========================= */

#intro {
  width: 1030px;
  position: absolute;
  inset: 0;

  background: white;
  z-index: 10000;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  visibility: visible;

  transition: opacity 0.6s ease, visibility 0.6s ease;
}

/* état caché propre */
#intro.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.intro-wrapper {
  text-align: center;
  animation: introFade 1.2s ease-out;
}

.intro-title {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.intro-sub {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 10px;
}

.intro-image {
  width: 420px;
  max-width: 80vw;
  margin: 20px 0;

  mix-blend-mode: multiply;
  animation: glitch 2.5s infinite;
}
/* bouton ENTER */
#intro button {
  margin-top: 25px;
  padding: 10px 18px;

  border: 1px solid black;
  background: transparent;

  cursor: pointer;
  font-family: monospace;

  transition: 0.2s;
}

#intro button:hover {
  background: black;
  color: white;
}

/* =========================
   BACK BUTTON
========================= */

#backBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  z-index: 60;

  padding: 10px 14px;
  border: 1px solid black;
  background: white;

  font-family: monospace;
  cursor: pointer;

  display: none;
}

#backBtn:hover {
  background: black;
  color: white;
}



#resetMapBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;

  z-index: 60;

  padding: 10px 14px;
  border: 1px solid black;
  background: white;

  font-family: monospace;
  cursor: pointer;
}

#resetMapBtn:hover {
  background: black;
  color: white;
}


#timelineBar {
  position: fixed;
  bottom: 30px;
  left: 10%;
  width: 80%;
  height: 6px;
  background: #ddd;
  z-index: 9999; /* 🔥 TRÈS IMPORTANT */
}

#timelineProgress {
  position: absolute;
  height: 100%;
  width: 0%;

  background-image: url("../Pictogramme.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  opacity: 0.6;
}

#timelineCursor {
  position: absolute;
  top: -12px;
  left: 0;

  width: 24px;
  height: 24px;

  background-image: url("../Pictogramme.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transform: translateX(-50%);
  cursor: pointer;
}

.timelineLabels {
  position: absolute;
  width: 100%;
  top: 15px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
